.download{ width:100%; text-align:center; padding-bottom:80px; background:url(images/dw_bg.jpg) no-repeat center center; background-size: cover;}
.dw_logo{ max-width:80px; max-height:80px; margin-top:20px;}
.about-p{ font-size:18px; color:#999; margin:15px 0;}
.dw_code{ text-align:center; font-family:"微软雅黑"; padding-bottom:20px;}
.dw_code h2{ font-size:18px; color:#333; margin-top:15px;  }
.dw_code h3{ font-size:14px; color:#999;}
.dw_code .full-img{ display:block; width:111px; height:111px; margin:20px auto 0; }
.dw_code p{ font-size:16px; color:#666;}
.dw_btn{ margin:100px 0 0 30px;}
.dw_btn a{ display:block; width:103px; height:32px; margin-top:15px;}
